<mat-toolbar color="primary">

  <button mat-button routerLink="home">
      <mat-icon>home</mat-icon> 
          </button>
          
  
      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        
          <button mat-button routerLink="home"> Products</button>
          <button mat-button routerLink="productadd"> CreateProducts</button>
          <button mat-button routerLink="user"> Users</button>
          <button mat-button routerLink="signup"> Register</button>
          <button mat-button routerLink="login"> Login</button>
          <button mat-button routerLink="permissions"> Rights</button>
        </div>
      <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
       <mat-icon>menu</mat-icon>
      </button>
  
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item routerLink="productadd">Create Products</button>
     
      <button mat-button routerLink="home"> Products</button>
      <button mat-button routerLink="user"> Users</button>
      <button mat-button routerLink="signup"> Register</button>
      
      <!--<button mat-menu-item>Help</button>-->
  </mat-menu>