/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* @import "~font-awesome/css/font-awesome.css";

body {
    background:#e8e8e8;
    font-family: 'Muli';
} */

.myapp-no-padding-dialog .mat-dialog-container {
border-radius: 20px;
font-family:cursive;
font-size: 16px;   
}